/*
Template: Default Theme
Version: 1.0
*/
body {
  font-size: 16px;
}
body.loginscreen {
  padding: 3em 0 1em;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  padding: 2em 1em 1.2em;
  background: #e6e6e6;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 30px;
}
.header .navbar {
  margin-bottom: 0px;
}
.breadcrumb {
  border-bottom: 1px solid #cccccc;
}
.copyright {
  padding: 1em 1em;
  font-size: 14px;
}
.event img {
  margin-bottom: 30px;
}
.event .event-information .fa {
  padding-right: 10px;
}
.event .tickets .ticket-label {
  width: 50%;
}
.event .tickets .ticket-price {
  width: 30%;
}
